@model UMCFormTest.Database.USER_TEST

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Newtonsoft.Json;
@using UMCFormTest.Models;
@using UMCFormTest.Controllers
@using UMCFormTest.Database
@{

    STAFF user = (STAFF)HttpContext.Current.Session[Constant.SESSION_LOGIN];
}
<div class="container">
    @if (user != null && Model != null)
    {
        using (Html.BeginForm("Mark", "Home", FormMethod.Post, new { Id = "review-form"}))
        {
            <input type="hidden" name="ID_USER_TEST" value="@Model.ID" />
            <div class="row mt-5 border border-dark font-weight-bold">
                <div class="col-5 border-right border-dark">
                    <div class="d-inline lang" key="name">Họ và tên:</div><span>:</span>
                    <div class="d-inline">@Model.STAFF.FullName</div>
                </div>
                <div class="col-7">
                    <div class="d-inline lang" key="code">Họ và tên:</div><span>:</span>
                    <div class="d-inline mr-5">@Model.STAFF.StaffCode</div>
                    <div class="d-inline lang ml-5" key="dept"></div><span>:</span>
                    <div class="d-inline mr-5">@Model.STAFF.Dept</div>
                </div>
            </div>


            if (user.StaffCode != Model.STAFF.StaffCode && Model.Mark == null && user.IsReviewer)
            {
                <div class="row border-left border-right border-bottom border-dark font-weight-bold">
                    <div class="col-5 border-right border-dark ">
                        <div class="row">
                            <div class="col">
                                <div class="d-inline lang" key="mark">Họ và tên:</div>
                                <div class="d-inline">@Model.EXAM.Target </div>
                            </div>
                            <div class="col">
                                <input class="point type_number" style="width:50%" name="point" id="point" />
                                <span class="lang ml-2" key="point"></span>
                            </div>
                        </div>



                    </div>
                    <div class="col-4">
                        <div class="d-inline lang" key="review">Đánh giá</div>
                        <div class="d-inline ml-1">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="checkboxOK" name="review" value="OK" checked>
                                <label class="form-check-label" for="checkboxOK">OK</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="checkboxNG" name="review" value="NG">
                                <label class="form-check-label" for="checkboxOK">NG</label>
                            </div>

                        </div>
                        <button type="button" id="reviewBtn" style="width:50%" class=" btn-success text-white lang btnDone rounded"> <i class="fa fa-check"></i><span key="done" class="lang ml-2"></span> </button>

                    </div>

                    <div class="col-3 border-left border-dark">
                        <div class="d-inline lang" key="date">Họ và tên:</div>
                        <div class="d-inline">@Model.DateTest.ToShortDateString()</div>
                    </div>
                </div>

            }
            else
            {
                <div class="row border-left border-right border-bottom border-dark font-weight-bold">
                    <div class="col-5 border-right border-dark">
                        <div class="row">
                            <div class="col">
                                <div class="d-inline lang" key="mark">Họ và tên:</div>
                                <div class="d-inline">@Model.EXAM.Target </div>
                            </div>
                            @if (Model.Mark > 0)
                            {
                                <div class="col form-inline">
                                    <span>@Model.Mark</span>
                                    <span class="lang ml-2" key="point"></span>
                                </div>
                            }

                        </div>

                    </div>
                    <div class="col-4">
                        <div class="d-inline lang" key="review">Họ và tên:</div>
                        <div class="d-inline ml-5">
                            @if (Model.Review == "OK")
                            {
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="checkboxOK" name="review" value="OK" checked disabled="disabled">
                                    <label class="form-check-label" for="checkboxOK">OK</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="checkboxNG" name="review" value="NG" disabled="disabled">
                                    <label class="form-check-label" for="checkboxOK">NG</label>
                                </div>
                            }
                            else
                            {
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="checkboxOK" name="review" value="OK" disabled="disabled">
                                    <label class="form-check-label" for="checkboxOK">OK</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="checkboxNG" name="review" value="NG" checked disabled="disabled">
                                    <label class="form-check-label" for="checkboxOK">NG</label>
                                </div>
                            }

                        </div>

                    </div>
                    <div class="col-3 border-left border-dark">
                        <div class="d-inline lang" key="date">Họ và tên:</div>
                        <div class="d-inline">@Model.DateTest.ToShortDateString()</div>
                    </div>
                </div>
            }
            <h4 class="lang text-center mt-5 font-italic font-weight-bold" style="  text-decoration: underline;" key="title"></h4>

            try
            {
                var name = JsonConvert.DeserializeObject<Question>(Model.EXAM.Name);
                <h4 class="d-none text-center font-italic font-weight-bold" id=@("name_vi")><span class="" key="question"></span>@(name.vi)</h4>
                <h4 class="d-none text-center font-italic font-weight-bold" id=@("name_ja")><span class="" key="question"></span>@(name.ja)</h4>
            }
            catch (Exception)
            {
                <h4 class=" text-center font-italic font-weight-bold">@Model.EXAM.Name</h4>
            }




            var i = 0;
            foreach (var answer in Model.USER_TEST_DETAIL)
            {

                i = i + 1;

                <div class="row mt-5">
                    @{
                        try
                        {
                            var ques = JsonConvert.DeserializeObject<Question>(answer.QUESTION.Question1);

                            <p class="d-none" id=@("question_vi_" + i)><span class="lang" key="question"></span>@(" " + i + ". " + ques.vi)</p>
                            <p class="d-none" id=@("question_ja_" + i)><span class="lang" key="question"></span>@(" " + i + ". " + ques.ja)</p>

                        }
                        catch (Exception)
                        {
                            <p>@(i + ". " + answer.QUESTION.Question1)</p>
                        }

                    }
                    <input type="hidden" id=@("question_" + i) value="@answer.QUESTION.ID">
                    <textarea class="form-control bg-white" name=@("answer_" + i) rows="4" readonly>@answer.ANSWER</textarea>
                </div>
                if (user.StaffCode != Model.STAFF.StaffCode && Model.Mark == null && user.IsReviewer)
                {
                    <div class="row mt-3">
                        <br />
                        <label>ĐIỂM</label>
                        <input class="form-control" id="@("point_" + i)"/>
                        <br />
                        <label>COMMENT</label>
                        <textarea class="form-control bg-white" rows="4" id="@("comment_" + i)">@answer.COMMENT</textarea>
                        <br />

                    </div>
                }
                else
                {
                    <div class="row mt-3">
                       
                        <p>
                            ĐIỂM : @answer.POINT
                            <br />
                            COMMENT
                            <br />
                        </p>
                     
                        <textarea class="form-control bg-white" rows="4" readonly>@answer.COMMENT</textarea>
                        <br />

                    </div>
                }

            }
            <input type="hidden" id="answers" name="answers" />


            <br />

        }
    }

</div>
