
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Newtonsoft.Json;
@using UMCFormTest.Controllers
@using UMCFormTest.Database
@using UMCFormTest.Models
@model UMCFormTest.Database.EXAM
@{

    STAFF user = (STAFF)HttpContext.Current.Session[Constant.SESSION_LOGIN];
}

<div class="container">
    @if (user != null && Model != null)
    {
        <form action="Submit" method="post" id="submit-form">

            <div class="row mt-5 border border-dark font-weight-bold">
                <div class="col-5 border-right border-dark">
                    <div class="d-inline lang" key="name"></div><span>:</span>
                    <div class="d-inline" id="full_name">@user.FullName</div>
                </div>
                <div class="col-7">
                    <div class="d-inline lang" key="code">Họ và tên:</div><span>: @user.StaffCode</span>
                    <div class="d-inline lang ml-5" key="dept"></div><span>:@user.Dept</span>
                </div>

            </div>
            <div class="row border-left border-right border-bottom border-dark font-weight-bold">
                <div class="col-5 border-right border-dark">
                    <div class="d-inline lang" key="mark"></div>
                    <div class="d-inline">@Model.Target </div>
                </div>

                <div class="col-7 border-dark">
                    <div class="d-inline lang" key="date"></div>
                    <div class="d-inline">@(DateTime.Now.ToShortDateString())</div>
                </div>
            </div>
            <h4 class="lang text-center mt-5 font-italic font-weight-bold" style="  text-decoration: underline;" key="title"></h4>
            @{
                try
                {
                    var name = JsonConvert.DeserializeObject<Question>(Model.Name);
                    <input type="hidden" value="@(name.vi)" id="title_exam" />
                    <h4 class="d-none text-center font-italic font-weight-bold" id=@("name_vi")><span class="" key="question"></span>@(name.vi)</h4>
                    <h4 class="d-none text-center font-italic font-weight-bold" id=@("name_ja")><span class="" key="question"></span>@(name.ja)</h4>
                }
                catch (Exception)
                {
                    <h4 class=" text-center font-italic font-weight-bold">@Model.Name</h4>
                }

            }

            <input type="hidden" name="ID_Exam" value="@Model.ID" />
            <input type="hidden" name="StaffCode" value="@user.StaffCode" />
            <input type="hidden" name="StaffCode" value="@user.StaffCode" />
            <input type="hidden" name="DateTest" value="@(DateTime.Now)" />
            @{
                var i = 0;
                foreach (var question in Model.QUESTIONs)
                {

                    i = i + 1;

                    <div class="row mt-5">

                        @{

                            try
                            {
                                var ques = JsonConvert.DeserializeObject<Question>(question.Question1);
                                <p class="d-none" id=@("question_vi_" + i)><span class="lang" key="question"></span>@(" " + i + ". " + ques.vi)</p>
                                <p class="d-none" id=@("question_ja_" + i)><span class="lang" key="question"></span>@(" " + i + ". " + ques.ja)</p>
                            }
                            catch (Exception)
                            {
                                <p>@(i + ". " + question.Question1)</p>
                            }
                        }

                        <input type="hidden" id=@("question_" + i) value="@question.ID">
                    </div>
                    <input type="hidden" value="@question.TYPE_QUESTION" id="@("type_question_" + i)" />
                    if (question.TYPE_QUESTION == "text")
                    {
                        <textarea class="form-control" rows="4" name=@("answer_" + i)></textarea>
                    }
                    else if (question.TYPE_QUESTION == "multiple_choice")
                    {
                        foreach (var answer in question.LIST_ANSWER)
                        {
                            var an = JsonConvert.DeserializeObject<Question>(answer.ANSWER);
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="@i"
                                       id="@("multiple_choice_" + i + "_" + answer.NO)">
                                <label class="form-check-label d-none" for="@("multiple_choice_" + i + "_" + answer.NO)" name="form_multiple_choice_vi">
                                    @an.vi
                                </label>
                                <label class="form-check-label d-none" for="@("multiple_choice_" + i + "_" + answer.NO)" name="form_multiple_choice_ja">
                                    @an.ja
                                </label>
                            </div>

                        }
                        <textarea class="form-control d-none" rows="4" name=@("answer_" + i)></textarea>
                     
                    }



                }
            }


            <input type="hidden" id="answers" name="answers" />

            <div class="row mt-5 mb-5">
                <button type="button" class="btn btn-success lang mr-auto ml-auto mb-5" style="width:25%" key="submit" data-toggle="modal" data-target="#confirmModal"> </button>
            </div>

        </form>
    }


    <!-- Modal -->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <p class="lang" key="confirm_submit"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary lang" data-dismiss="modal" key="cancel"></button>
                    <button type="button" class="btn btn-success lang" id="submit" key="submit">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>


