@using UMCFormTest.Database
@using Newtonsoft.Json
@using UMCFormTest.Models
@model List<EXAM>
@{
    ViewBag.Title = "ListTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/Content/DataTables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
}
<br />
<div class="container">
    <a class="btn btn-success" href="@Url.Action("CreateExam", "Home")">Thêm Bài Thi Mới</a>
    <div class="mt-2">
        @if (Model != null && Model.Count > 0)
        {

            <table id="table-content" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th width="20px"></th>
                        <th width="100px" class="lang" key="name_exam">Position</th>
                        <th width="100px" class="lang" key="date_create">Office</th>

                    </tr>
                </thead>
                <tbody>
                    @{
                        var i = 0;
                        foreach (var exam in Model)
                        {
                            i++;
                            <tr>
                                @if (exam.IsCurrent == true)
                                {
                                    <td><i class="fas fa-book text-success"></i></td>
                                }
                                else
                                {
                                    <td><i class="fas fa-book-open text-secondary"></i></td>
                                }

                                <td>
                                    @{
                                        try
                                        {
                                            var name = JsonConvert.DeserializeObject<Question>(exam.Name);
                                            <a class="d-none" id=@("name_vi") name=@("name_title_" + exam.ID) href="@Url.Action("CreateExam","Home", new { Id = exam.ID })")"><span class="text-center " key="question"></span>@(name.vi)</a>
                                            <a class="d-none" id=@("name_ja") name=@("name_title_" + exam.ID) href="@Url.Action("CreateExam","Home", new { Id = exam.ID })")"><span class="text-center" key="question"></span>@(name.ja)</a>
                                        }
                                        catch (Exception)
                                        {
                                            <a class=" text-center " name=@("name_exam_" + exam.ID) href="javascript:void(0);">@exam.Name</a>
                                        }
                                    }


                                </td>
                                <td>@exam.DateCreate.ToShortDateString()</td>

                            </tr>
                        }
                    }

                </tbody>

            </table>
        }

    </div>
   
</div>

<!-- Modal -->
<div class="modal fade" id="confirmDeleteExam" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <div class="modal-body">
                <p class="lang" key="confirm_delete"></p>
            </div>
            @using (Html.BeginForm("DeleteExam", "Home", FormMethod.Post, new { id = "delete_form" }))
            {
                <input type="hidden" name="id_exam" />
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary lang" data-dismiss="modal" key="cancel"></button>
                    <button type="submit" class="btn btn-danger lang" key="delete">Save changes</button>
                </div>
            }
        </div>

    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="confirmDeleteExamDoingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <div class="modal-body">
                <p class="lang" key="confirm_delete_exam_doing"></p>
            </div>
            @using (Html.BeginForm("DeleteExamWhenDoing", "Home", FormMethod.Post, new { id = "delete_exam_doing_form" }))
            {
                <input type="hidden" name="id_exam" />
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary lang" data-dismiss="modal" key="cancel"></button>
                    <button type="submit" class="btn btn-danger lang" id="btn_delete_exam" key="delete">Save changes</button>
                </div>
            }
        </div>

    </div>
</div>

@section scripts{

    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/list.js"></script>
}