@model UMCFormTest.Database.STAFF
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="global-container bg-white mt-5">
    <div class="card login-form">
        <div class="card-body">
            <div class="d-inline text-center">
                <span class="ml-2 font-weight-bold lang text-uppercase" key="new_member" style="font-size:20px;"></span>
            </div>
            <div class="card-text">
                @using (Html.BeginForm("Register", "Home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken();
                    <div class="form-group">
                        <label class="lang" key="code">Staff Code</label>
                        @Html.TextBoxFor(m => m.StaffCode, new { @class = "form-control", placeholder = "Staff Code", @required = "required", autocomplete = "off" })
                    </div>
                    <div class="form-group">
                        <label class="lang" key="name">Staff Code</label>
                        @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", placeholder = "Full name", @required = "required" })
                    </div>
                    <div class="form-group">
                        <label class="lang" key="dept">Staff Code</label>
                        @Html.TextBoxFor(m => m.Dept, new { @class = "form-control", placeholder = "Department", @required = "required" })
                    </div>
                    <div class="form-group">
                        @Html.CheckBoxFor(m => m.IsReviewer)
                        <label class="lang" key="is_reviewer">Staff Code</label>
                    </div>

                    <div class="form-group">
                        <label class="lang" key="newpass">Password</label>
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Password", @type = "password", @required = "required" })
                    </div>
                    <div class="form-group">
                        <label class="lang" key="repass">Password</label>
                        <input class="form-control" placeholder="Reenter Password" type="password" required>
                    </div>

                    <button type="submit" class="btn btn-success btn-block lang col" key="register">Đăng nhập</button>

                }
            </div>
        </div>
    </div>
</div>